/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/src/__pycache_
/laskarit/viikko2/unicafe/src/tests/__pycache___
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov


.pytests_cahce
__pycache__
.coverage
htmlcov
data/database.sqlite
data/notes.csv
data/test_database.sqlite
data/test_notes.csv
